 body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #ff9966, #ff5e62);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: 80vw;
        height: 80vh;
        background: #fff;
        border-radius: 20px;
        display: flex;
        box-shadow: 0 15px 40px rgba(0,0,0,0.2);
        overflow: hidden;
    }

    .left-panel {
        width: 60vw;
        padding: 4vw;
        box-sizing: border-box;
        overflow-y: auto;
    }
    
    .left-panel::-webkit-scrollbar {
    display: none;
}

    .left-panel h2 {
        margin-bottom: 2vw;
    }

    .form-group {
        margin-bottom: 1.9vh;
    }

    #OrderType{
        width: 40.7vw;
        padding: 1.3vh;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    input, textarea {
        width: 100%;
        padding: 1.3vh;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    textarea {
        resize: none;
    }

    .btn {
        margin-top: 1.5vh;
        width: 100%;
        padding: 1.5vh;
        border: none;
        border-radius: 8px;
        background: #000;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .btn:hover {
        background: #333;
    }

    .right-panel {
        width: 50%;
        background: #f4c6b3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        color: #333;
        padding: 20px;
        text-align: center;
    }